body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: 'Times New Roman', Times, serif;
}

button {
  padding: 0.5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #777777;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}